#main{
    background-color: seashell;
    color: red;
    font-family: Georgia;
    font-size: 0.8em;
}

.body{
    background-color: seashell;
    color: rgba(0, 140, 255, 0.623);
    font-family: Georgia;
    font-size: 0.9em;
}

div{
    background-color: aquamarine;
}